FORMAT: 1A
HOST: https://czchoapint222.prg-dc.dhl.com:6443
AUTHOR: DHL eCommerce

# NEW Global DHL eCommerce API
Welcome at the global DHL eCommerce API. <br/><br/>
To find out more about the logistic services we offer, please check out [DHL eCommerce Products](http://www.dhl.com/eCommerce). <br/><br/>
To [Sign up](#introduction/access-&-sign-up) for becoming a DHL eCommerce API consumer and receive your credentials, please contact us via: [integration@dhl.com](mailto:Integration@dhl.com). 
Ideally provide your DHL eCommerce customer account number.<br/><br/>
You can contact us [here](#introduction/access-&-sign-up) for more details.<br/><br/> 

To find out more about **alternative integration channels**, as for example our file-based EDI integrations for high volume data exchange or the multiple third party solutions, we offer towards typical ERP systems, Webshop systems, etc,. please check out our [global integration website](http://www.dhl.com/integration).
___


## About this API
DHL eCommerce provides this **global API** to enable open integration channels for our customers, clients and partners. <br/><br/>
The API is provided as **REST API** using **OAuth 2.0** for authentication and authorization and **JSON format** for request and response messages.<br/><br/>
The API uses **HTTPS (over SSL) protocol**, the HTTP GET is used to retrieve data and HTTP POST is used to create, update or delete data. 
<br/>
    
    >**Note:** *Usage of HTTP PUT and DELETE is not enabled.*

The **service endpoints** available via this APIs have been build along side your eCommerce experience as underneath graphic indicates:
<img src="https://czchoapint222.prg-dc.dhl.com:6443/apidoc/API_CustomerJourney.png" width="18px" height="12px" alt="Planets" usemap="#customerjourney">
<map name="customerjourney">
  <area shape="rect" coords="26,64,448,128" alt="shippingapi" href="#reference/shipping">
  <area shape="rect" coords="26,128,448,200" alt="filfillmentapi" href="#reference/fulfillment">
  <area shape="rect" coords="0,0,26,210" alt="authenticationapi" href="#introduction/access-&-sign-up">
</map>


___

## Get Started
1. [Sign up](#introduction/access-&-sign-up) for becoming a DHL eCommerce API consumer and receive your credentials. <br/><br/>
    >**Note:** *Please provide your DHL eCommerce customer account number in your sign up request.*
2. After signing up [Get Your Access Token](#reference/authentication).
3. Understand our [Environments](#introduction/available-environments) setup.
4. Construct your REST API request, using our access-&-sign-up API reference documenation for existing API service domains [Shipping](#reference/shipping) and [Fulfillment](#reference/fulfillment).


## Available environments
DHL eCommerce provides **Production** environment as well as **Sandbox** for development and testing.<br/><br/> 
Access to both environments is managed and you have to use OAuth 2.0 `Access Token`, when accessing the API resources. <br/><br/>
Access Token could be requested via [Get Access Token API](#introduction/access-&-sign-up), where you have to provide your API credentials: `Client_ID` and `Client_Secret`. 

>**Note:** *You will have different identities for Production and Sandbox environment.*


### Sandbox
You can use the Sandbox environment for development and testing purpose.<br/><br/>
**Sandbox Base URL:** `https://api-qa.dhlecommerce.com`<br/><br/>
Sandbox provides the same APIs as Production environment. 
>**Note:** *The APIs exposed on Sandbox could be called directly from this documentation.*

For ease of access you can leverage the default API credentials:<br/>
 
`Client_id: e9ed82a8-4237-4185-8e36-47264aa9e718`

`Client_secret: b1ed1bfa-689b-4d5b-bbf2-39dde64ccb64`<br/>

which could be used to request Access Token for the Sandbox APIs. 

![TEST- or SANDBOX ENVIRONMENT](https://api-qa.dhlecommerce.com/apidoc/images/sandbox.png)
>**Note:** *Please have in mind that these credentials have more strict rate limits applied, therefore you can experience 429 HTTP Status code.*

### Production
For production purpose you have to use Production environment.<br/><br/>
**Production Base URL:** `https://api.dhlecommerce.com` <br/>

Production evironment hosts the same APIs as Sandbox, but with different base URL.

![PRODUCTION ENVIRONMENT](https://api-qa.dhlecommerce.com/apidoc/images/prod.png)
>**Important note:** *Please keep in mind that Sandbox credentials does not apply for production environment and you have to use production set of credentials provided to you during onboarding.*

### Rate limits

For all API calls there is a rate limit applied.<br/><br/> 
Default limit is set to for each client to **5 requests** per second per API call. <br/><br/>
When the limit is reached you will recieve an HTTP Status code 429: Too many requests.

**HTTP Response Status Code 429**

````
{
"reasons": [{"msg" : "Too many requests in a given amount of time"}],
"details": {
            "msgId": "Id-135725589d........."
            }
}
````
___

## Access & Sign up
To request access for our Production and Sandbox environments you have to sign up.<br/> 

To sign up with your DHL eCommerce `customer account number` and obtain obtain the credentials please contact us directly via [api.ecom@dhl.com](mailto:api.ecom@dhl.com). 

>**Note:** *DHL eCommerce `customer account number` is required for the API sign up processs. To get your `customer account number` please get in touch with your regional DHL eCommerce sales organisation.*


>**Note:** *The Sandbox environment is accessible directly from this documentation page, where you can leverage the predefined test requests in [Reference](#reference/authentication) section.*

___

## Versioning & Release notes
Here on this page, the latest version of our global DHL eCommerce API is beeing documented. Currently this is **V.1**. Older versions do not yet exist - as soon as a newer version is published, the release notes as well as the links to older version is shown underneath.
___

## API Health (...tbd)
We as DHL eCommerce constantly monitor our APIs performance to keep it up all the time and with the maximum response times. In case there is the unlikely event of a downtime or a non perfect reponse time, please check the underneath status on single call level:

| API GROUP             | STATUS    | UPTIME        |RESPONSE TIME  |
| ----------------------|-----------|---------------|---------------|
**Authenthification**   |  ![AUTH](http://utzfu.synology.me/DHL/APIARY/up.png)   |    98.4%      |122ms          |
**Shipping**            |  ![SHIP](http://utzfu.synology.me/DHL/APIARY/slow.png)    |    100%       |1232ms         |
**Fullfillment**        |  ![eFF](http://utzfu.synology.me/DHL/APIARY/up.png)    |    99.32%     |133ms          |
**VAS**                 |  ![VAS](http://utzfu.synology.me/DHL/APIARY/down.png)      |    0%         |NA             |

___

## Help, Links & Support
Coding against logistic APIs is not always fun - we know! To ensure you the best possible support, we developed a variety of options for you, to resolve any issues experienced. Underneath, we give you an overview on where you might find help for any possible question comming up on your side of the screen: 
- *Products and services* offered by DHL eCommerce and where to get more information on if they are available at your location, what they offer you and your customers etc. via: http://www.dhl.com/eCommerce 
- *Glossary & Logistic terms* can be confusing too - so get a good, searchable overview on all the specific terms we use, please check the consolidated Glossary of DHL eCommerce here: http://www.dhl.com/integration-glossary
- *Frequently asked questions* on our API are listed on http://www.dhl.com/integration-faqs - so please check if other user might have had the same question as you before.
- *Integration Alternatives* might come into place if you identify integration requirements on your side that can not be sufficiently covered by our API. So you might experience extremely growing shipping volumes that make you favor more efficienct file based integrations. DHL eCommerce also offers webbased user interfaces to manage and process your orders and shipments as well as a variety of standard integrations into the most commonly used webshop systems. If you need more information on those alternatives, check out our integration page via: http://www.dhl.com/integration. Furthermore, if you are a customer exclusivily working out of the Asia-Pacific region or out of the US, you can also use our DHL eCommerce regional APIs: (Asia-Pacific) https://sandbox.dhlecommerce.asia/API/docs/v2/overview.html or for the (US) http://api.dhlglobalmail.com/docs/v2/. Please also bear in mind that from a mid to longterm perspective we will migrate both regional APIs into our global one.
- *Contacting us* somehow requires you to get in touch with your regional sales organisation since they can forward you to your local integration expert knowing your requirements best. Alternatively, you can also get in touch with us via an email to integration@dhl.com. To get most efficient support here, please let us know your DHL eCommerce customer account number as well as your local distribution center. Please bear in mind that we can only support your DHL eCommerce related inquires here, so for DHL Express, DHL Paket or other DHL business units, please approach your local business partner first - thanks in advance!

# Group API Responses
Eachtime you request our API you receive one of HTTP response code listed underneath.<br/><br/>
In case you do not get any response code back at all, please check the [API health](#introduction/api-health) first to see whether or not there is an issue on our backend side. <br/><br/>
In case the API status is **live**, please check the calls you composed, your links as well as the credentials or token used.<br/><br/>
___
- **200** `OK` - the request was successful (some calls may also return 201 instead).
___
- **201** `Created` - the request was successful and a resource was created.
___
- **204** `No Content` - the request was successful but there is no representation to return (i.e. the response is empty).
___
- **400** `Bad Request` - the request could not be understood or was missing required parameters. An invalid URI parameters or querystring was used.
___
- **401** `Unauthorized` - authentication failed or user doesn't have permissions for requested operation. Invalid client id and secret provided
___
- **402** `Unauthorized` - Some tesxt
___
- **403** `Forbidden` - access denied.
___
- **404** `Not Found` - resource was not found.
___
- **405** `Method Not Allowed` - Requested method is not supported for resource.
___
- **429** `Too many requests` -  You called the API too often in a given timeframe and exceeded the rate limits.
___
- **503** `Service unavailable` - The service you requested is not available
___


# Group Authentication

The API provides OAuth 2.0 Access Token with various authorization scopes. The Access Token can be used to authorize access for the DHL eCommerce Global APIs.

## Access Token [/account/v1/auth/accesstoken]

### Get Access Token [GET]

The Get Access Token API call provides OAuth 2.0 Bearer token with authorization scope, assigned to your client id, which will grants you an access to the Global DHL eCommerce APIs.

The API operation is secured by HTTP Basic authentication, therefore you have to provide **client_id** and **client_secret** as an username and password, when calling the API.

**Example:**
        
1. You will receive `client_id` and `client_secret` from DHL representative in following format.<br/>
Credentials bellow could be used in this Sandbox environment to get the Access Token.
    ````
    Client_id: e9ed82a8-4237-4185-8e36-47264aa9e718
    Client_secret: b1ed1bfa-689b-4d5b-bbf2-39dde64ccb64
    ````
2. When passing the `client_id` and `client_secret` via HTTPS request, using HTTP Basic authentication, you have to
populate HTTP Header Authorization in following format.

    > **Note:** *`Client_id` and `client_secret` has to be encoded in base64-encoding. There is a `space` characeter between Basic and the base64-encoded string. There is a `:` character between the client_id and client_secret, when encoded in base64-encoding.*
    
    ````
    Authorization: Basic base64-encoded(client_id:client_secret)
    Authorization: Basic ZTllZDgyYTgtNDIzNy00MTg1LThlMzYtNDcyNjRhYTllNzE4OmIxZWQxYmZhLTY4OWItNGQ1Yi1iYmYyLTM5ZGRlNjRjY2I2NA==
    ````
    > **Note:** *You can test the Get Access Token API directly from the documentation page. The Authorization HTTP Header was populated for you in the Console View on the right side of the screen.* 

3. You will receive following response in the JSON format.

    ````
      {
      "access_token": "FPOJnYACcqZV8YL5Vkm4Ae7nJMvWZDWOJBvD0rtM15BgttWgQEplsQ",
      "token_type": "Bearer",
      "expires_in": 18000,
      "scope": "efulfillment"
      }
    ````      
    
Understanding of the response fields:
  
`access_token:` Contains Access Token string for the Fulfillment API authentication and authorization.<br/><br/>

`token_type:` Type of the OAuth 2.0 access token. Default value is "Bearer".<br/><br/>

`expires_in:` Time to live of the access token. Default value is 18000 seconds / 5 hours. After this time the token expires. <br/><br/>

`scope:` Authorization scope of access token. Default value for Fulfillment API is "efulfillment". Could contain multiple scope values, which will be separated by space character.<br/><br/>
     

+ Request
    There is no body for the request, the API operation will return the Access Token in the Response, when the GET request will be authenticated via HTTP Basic by providing [client_id] and client_secret 

      + Headers
    
            Accept: application-json
            Authorization: Basic ZTllZDgyYTgtNDIzNy00MTg1LThlMzYtNDcyNjRhYTllNzE4OmIxZWQxYmZhLTY4OWItNGQ1Yi1iYmYyLTM5ZGRlNjRjY2I2NA==
            
    
+ Response 200 (application/json)

    + Headers
        
            X-CorrelationId: Unique transaction id of your request
    + Body
            
            {
                "access_token":"BvRVUq77c1ubeTqCABXz4daftyFPElLZ5kvLeQqRNb5nT2iFi6aU4L",
                "token_type":"Bearer",
                "expires_in":18000,
                "scope":"shipping label"
            }
        

## Access Token Info [/account/v1/auth/accesstoken/info{?token}]

### Get Access Token Info [GET]

The Get Access Token Info API call provides an information about the issued token.

+ Parameters
    + token (optional, string) ... Access Token string
    
+ Response 200 (application/json)
Successful response in case you provided valid Access Token

    + Headers
        
            X-CorrelationId: Unique transaction id of your request
    + Body
    
            {
              "audience" : "b0601394-d106-4bca-a825-af40b7422640",
              "user_id" : "b0601394-d106-4bca-a825-af40b7422640",
              "scope" : "shipping",
              "expires_in" : 15951
            }
        

+ Response 400 (application/json)
Bad request in case you provided token, which already expired.

    + Headers
        
            X-CorrelationId: Unique transaction id of your request
    + Body
        
            {
              "error" : "invalid_token",
              "error_description" : "The presented token is invalid or expired."
            }

+ Response 400 (application/json)
Bad request in case you did not provided the expected URI parameter.

    + Headers
        
            X-CorrelationId: Unique transaction id of your request
    + Body       
    
            {
              "error" : "invalid_request",
              "error_description" : "The request is missing a required parameter, includes an invalid parameter value, includes a parameter more than once, or is otherwise malformed."
            }

## Revoke Access Token [/account/v1/auth/accesstoken/revocation{?token}]

### Revoke Access Token [GET]

The Revoke Access Tokne API call provides you an option to revoke your Access Token, which not yet expired.

+ Parameters
    + token (optional, string) ... Access Token string
    
+ Response 200 (application/json)

    + Headers
        
            X-CorrelationId: Unique transaction id of your request
    + Body
    
            [
                {
                    "message":"Access token revocation processed."
                }
            ]
            

## KPS Management [/account/v1/kps/{store}/{userId}]

### Get User [GET]

The Get All Users API call returns all user ids, which are stored in the particular KPS Store.

+ Parameters
    + store (required, string) ... KPS user store
    + userId (optional, string) ... User Id
    
    
+ Response 200 (application/json)

    + Headers
        
            X-CorrelationId: Unique transaction id of your request
    + Body
    
             [
                {
                    "auth_scope": "scope1",
                    "user_id": "testUser1",
                    "password": "*****"
                },
                {
                    "auth_scope": "scope2",
                    "user_id": "testUser2",
                    "password": "*****"
                }
            ]


# Group Fulfillment
The Fulfillment API provides you an interface for the order management operations.

**API Authentication:** All API operations require `Access Token` to be passed in the Authorization Header for each request. The token type is an OAuth 2.0 Bearer token.<br/><br/> 
>**Note:** *[here](#reference/authentication) you can find more information how to to retrive the `Access Token`.* 

**Access Token Lifecycle:** When you recieve an Access Token, it is valid for defined amount of time (5h).<br/><br/> 
During this time you don't have to request new token per each request, but you can simply reuse the same token to access API resources, until the token expires.<br/><br/> 
The invalid token or token expiration will be indicated by HTTP Status Code 401 Unauthorized, then your application has to request new Access Token.

**API Parameters:** The parameters could be mandatory, optional and conditionally-optional. The conditionally-optional parameters are marked as optional parameters, where at least one or a combination has to be part of the API call. <br/><br/>
The specific list of conditionally-optional parameters will be highlighted in a table in each particular API operation section.

**API JSON Schemas:** Here you can download full archive of the JSON Schemas for the Fulfillment API.
___
| Schemas to download | Description    | URL Link  |
| --------------------|----------------|-----------|
`Request Schemas`     | Request schemas description           | [download](https://api-qa.dhlecommerce.com/efulfillment/v1/schema/request)       |
`Response Schemas`    | Response schemas description           | [download](https://api-qa.dhlecommerce.com/efulfillment/v1/schema/response)       |
`API definition`      | API definition in swagger 2.0           | [download](https://api-qa.dhlecommerce.com/efulfillment/v1/swagger)       |
___
**Required Parameters:** 

| Parameter        | Type           | Description  |Example  |
| -----------------|----------------|--------------|---------|
`XXX`        | XXX                  | XXX       |XXX        |

___
**Available API calls:**
INTRODUCTIONTEXT2

## Item [/v1/fulfillment/item]

**Implementation Examples:** 
- *Add a new product to your portfolio*: XXXXX
- *Change parameters within a selected item*: XXXXX
- *Get the latest list of items managed*: XXXXX
___
**Available API calls:**
INTRODUCTIONTEXT2

### Create item [POST]
The API operation for Create Item.

+ Request (application/json)
    + Headers 
        Accept: application/json
        Authorization: Bearer [token]
        Content-Type: application/json
    
    + Attributes (CreateItemReq)

+ Response 200
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Item created"
        }

+ Response 400
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Bad Request - Invalid URI parameters or querystring"
        }

+ Response 401 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Unauthorized Access - Invalid token or Authentication Header parameter"
        }

+ Response 429 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Too many requests in given amount of time"
        }
    
+ Response 503 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Service Unavailable"
        }

### Get Item list [GET /v1/fulfillment/item/list/{accountNumber}{?itemId,status,page}]

The API operation for Get Item List. The optional parameters of the API operation are conditional. Following combinations of are allowed, when calling the API operation.

|Input Parameters   |Returned Values|
|-------------------|---------------|
|accountNumber      |Returns items by account number|
|accountNumber && itemId|Returns item by account number and item id|
|accountNumber && status && page|Returns page with filtered items by status and account number. **Page is optional.**|

+ Headers 
        Accept: application/json
        Authorization: Bearer [token]
        Content-Type: application/json
    
+ Parameters 
    + accountNumber :  (string, required)
        Account Number
    + itemId : (string, optional)
        Item Id
    + status : (enum[string], optional)
        Item Status
        + Members
            + Reserved
            + Cancelled
            + Scheduled
            + Back Ordered
            + Released
            + Sent to Node
            + Shipped
            + Held
            + Ready for WMS
            + Waved
            + Picked
            + Manifested
            + Created
    + page : (string, optional)
        Page

+ Response 200
    + Headers 
        Content-Type: application/json

    + Attributes (ItemListRes)

+ Response 400
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Bad Request - Invalid URI parameters or querystring"
        }

+ Response 401 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Unauthorized Access - Invalid token or Authentication Header parameter"
        }

+ Response 429 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Too many requests in given amount of time"
        }
    
+ Response 503 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Service Unavailable"
        }

### Update Item [POST /v1/fulfillment/item/update]
The API operation for Update Item

+ Request (application/json)
    + Headers 
            Accept: application/json
            Authorization: Bearer [token]
            Content-Type: application/json

    + Attributes (UpdateItemReq)
    
+ Response 200
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Item updated"
        }

+ Response 400
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Bad Request - Invalid URI parameters or querystring"
        }

+ Response 401 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Unauthorized Access - Invalid token or Authentication Header parameter"
        }

+ Response 429 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Too many requests in given amount of time"
        }
    
+ Response 503 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Service Unavailable"
        }


## Sales Orders [/v1/fulfillment/order/]
INTROTEXT
___
**Required Parameters:** 

| Parameter        | Type           | Description  |Example  |
| -----------------|----------------|--------------|---------|
`XXX`        | XXX                  | XXX       |XXX        |

___
**Implementation Examples:** 
- *Add a new order that is supposed to be fulfilled*: XXXXX
- *Get the latest list of sales orders*: XXXXX

___
**Available API calls:**
INTRODUCTIONTEXT2

### Create Sales Order [POST]
The API operation for Create Sales Order.

+ Request (application/json)
    + Headers 
        Accept: application/json
        Authorization: Bearer [token]
        Content-Type: application/json
    
    + Attributes (CreateSalesOrderReq)
    
+ Response 202
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Sales Order Accepted"
        }

+ Response 400
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Bad Request - Invalid URI parameters or querystring"
        }

+ Response 401 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Unauthorized Access - Invalid token or Authentication Header parameter"
        }

+ Response 429 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Too many requests in given amount of time"
        }

+ Response 503 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Service Unavailable"
        }

### Get Back Sales Order List [GET /v1/fulfillment/order/backorderlist/{accountNumber}{?accountNumber,dateFrom,dateTo,page}]

The API operation for Get Back Sales Order List
The optional parameters of the API operation are conditional. 
Following combinations of are allowed, when calling the API operation.
|Input Parameters                             |Returned Values|
|---------------------------------------------|---------------|
|accountNumber                                |Returns all backordered orders|
|accountNumber && dateFrom && dateTo && page  |Returns page of backordered orders for given date range. **Page, dateFrom and dateTo are optional.**|

+ Headers 
        Accept: application/json
        Authorization: Bearer [token]
        Content-Type: application/json
    
+ Parameters 
    + accountNumber :  (string, required)
        Account Number
    + dateFrom : (string, optional)
        Date From
    + dateTo : (string, optional)
        Date To
    + page : (string, optional)
        Page

+ Response 200
    + Headers 
        Content-Type: application/json

    + Attributes (BackOrderListRes)

+ Response 400
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Bad Request - Invalid URI parameters or querystring"
        }

+ Response 401 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Unauthorized Access - Invalid token or Authentication Header parameter"
        }

+ Response 429 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Too many requests in given amount of time"
        }

+ Response 503 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Service Unavailable"
        }

### Sales Order Acknowledgement [GET /v1/fulfillment/order/acknowledgement/{accountNumber}/{orderNumber}/{orderSubmissionId}]

The API operation for Get Sales Order Acknowledgement

+ Headers 
        Accept: application/json
        Authorization: Bearer [token]
        Content-Type: application/json
    
+ Parameters 
    + accountNumber :  (string, required)
        Account Number
    + orderNumber :  (string, required)
        Sales Order Number
    + orderSubmissionId :  (string, required)
        Sales Order Submission Id   

+ Response 200
    + Headers 
        Content-Type: application/json

    + Attributes (SalesOrderAcknowledgementRes)

+ Response 400
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Bad Request - Invalid URI parameters or querystring"
        }

+ Response 401 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Unauthorized Access - Invalid token or Authentication Header parameter"
        }

+ Response 429 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Too many requests in given amount of time"
        }

+ Response 503 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Service Unavailable"
        }


### Sales Order Status [GET /v1/fulfillment/order/status/{accountNumber}{?accountNumber}]

The API operation for Get Sales Order Status
The optional parameters of the API operation are conditional. 
Following combinations of are allowed, when calling the API operation. 
|Input Parameters                     |Returned Values|
|-------------------------------------|---------------|
|orderNumber                          |Returns status of given order|
|status && page                      |Returns page with filtered orders by status. **Page is optional.**|\n|dateFrom && status && page          |Returns page with filtered orders from defined date. **Status and page are optional.**|\n|dateTo && status && page            |Returns page with filtered orders by status and to defined date. **Status and page are optional.**|\n|dateFrom && dateTo && status && page|Returns page with filtered orders by status for defined date range. **Status and page are optional.**|\n"

+ Headers 
    Authorization: Bearer [place OAuth access token here, without brackets]
    Content-Type: application/json
    
+ Parameters 
    + accountNumber :  (string, required)
        Account Number
    + orderNumber :  (string, optional)
        Sales Order Number
    + dateFrom : (string, optional)
        Date From
    + dateTo : (string, optional)
        Date To
    + status : (enum[string], optional)
        Status
        + Members
            + Reserved
            + Cancelled
            + Scheduled
            + Back Ordered
            + Released
            + Sent to Node
            + Shipped
            + Held
            + Ready for WMS
            + Waved
            + Picked
            + Manifested
            + Created
    + page : (string, optional)
        Page   

+ Response 200
    + Headers 
        Content-Type: application/json

    + Attributes (SalesOrderStatusRes)

+ Response 400
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Bad Request - Invalid URI parameters or querystring"
        }

+ Response 401 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Unauthorized Access - Invalid token or Authentication Header parameter"
        }

+ Response 429 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Too many requests in given amount of time"
        }

+ Response 503 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Service Unavailable"
        }

### Sales Order Details [GET /v1/fulfillment/order/details/{accountNumber}/{orderNumber}]
The API operation for Get Sales Order Details
+ Headers 
    Authorization: Bearer [place OAuth access token here, without brackets]
    Content-Type: application/json
    
+ Parameters 
    + accountNumber :  (string, required)
        Account Number
    + orderNumber :  (string, required)
        Sales Order Number

+ Response 200
    + Headers 
        Content-Type: application/json

    + Attributes (SalesOrderDetailsRes)

+ Response 400
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Bad Request - Invalid URI parameters or querystring"
        }

+ Response 401 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Unauthorized Access - Invalid token or Authentication Header parameter"
        }

+ Response 429 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Too many requests in given amount of time"
        }

+ Response 503 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Service Unavailable"
        }

## Purchase Order [/v1/fulfillment/purchaseorder]

### Create Purchase Order [POST]
The API operation for Create Purchase Order.

+ Request (application/json)
    + Headers 
        Accept: application/json
        Authorization: Bearer [token]
        Content-Type: application/json
    
    + Attributes (CreatePurchaseOrderReq)
    
+ Response 200
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Purchase Order Accepted"
        }

+ Response 400
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Bad Request - Invalid URI parameters or querystring"
        }

+ Response 401 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Unauthorized Access - Invalid token or Authentication Header parameter"
        }

+ Response 429 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Too many requests in given amount of time"
        }

+ Response 503 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Service Unavailable"
        }

###  Purchase Order Acknowledgement [GET /v1/fulfillment/purchaseorder/acknowledgement/{accountNumber}/{orderNumber}/{orderSubmissionId}]
The API operation for Get Purchase Order Acknowledgement
+ Headers 
    Accept: application/json
    Authorization: Bearer [token]
    Content-Type: application/json
    
+ Parameters 
    + accountNumber :  (string, required)
        Account Number
    + orderNumber :  (string, required)
        Sales Order Number
    + orderSubmissionId :  (string, required)
        Purchase Order Submission Id 

+ Response 200
    + Headers 
        Content-Type: application/json

    + Attributes (PurchaseOrderAcknowledgementRes)

+ Response 400
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Bad Request - Invalid URI parameters or querystring"
        }

+ Response 401 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Unauthorized Access - Invalid token or Authentication Header parameter"
        }

+ Response 429 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Too many requests in given amount of time"
        }

+ Response 503 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Service Unavailable"
        }


###  Cancel Purchase Order [POST /v1/fulfillment/purchaseorder/cancel]
The API operation for Cancel Purchase Order

+ Request (application/json)
    + Headers 
        Accept: application/json
        Authorization: Bearer [token]
        Content-Type: application/json
    
    + Attributes (CancelPurchaseOrderReq)
    
+ Response 200
    + Headers 
        Content-Type: application/json

    + Body
    
        {
            "message": "Purchase Order Canceled"
        }
+ Response 400
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Bad Request - Invalid URI parameters or querystring"
        }

+ Response 401 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Unauthorized Access - Invalid token or Authentication Header parameter"
        }

+ Response 429 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Too many requests in given amount of time"
        }

+ Response 503 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Service Unavailable"
        }

### Purchase Order Details [GET /v1/fulfillment/purchaseorder/details/{accountNumber}/{orderNumber}]
The API operation for Get Purchase Order Details.

+ Headers 
    Accept: application/json
    Authorization: Bearer [token]
    Content-Type: application/json
    
+ Parameters 
    + accountNumber :  (string, required)
        Account Number
    + orderNumber :  (string, required)
        Sales Order Number
    + orderSubmissionId :  (string, required)
        Purchase Order Submission Id 

+ Response 200
    + Headers 
        Content-Type: application/json

    + Attributes (PurchaseOrderDetailsRes)
    
+ Response 400
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Bad Request - Invalid URI parameters or querystring"
        }

+ Response 401 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Unauthorized Access - Invalid token or Authentication Header parameter"
        }

+ Response 429 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Too many requests in given amount of time"
        }

+ Response 503 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Service Unavailable"
        }

### Purchase Order Status [GET /v1/fulfillment/purchaseorder/status/{accountNumber}{?accountNumber,orderNumber,dateFrom,dateTo,status,page}]
The API operation for Get Purchase Order Status.
The optional parameters of the API operation are conditional. 
Following combinations of are allowed, when calling the API operation.
|Input Parameters                     |Returned Values|
|-------------------------------------|--------------|
|orderNumber                  |Returns order by given purchase order number|
|status && page               |Returns page with filtered orders by status. **Page is optional.**|
|dateFrom && status && page      |Returns page with filtered orders by staus from defined date. **Status and page are optional.**|
|dateTo && status && page         |Returns page with filtered orders by status to defined date. **Status and page are optional.**|
|dateFrom && dateTo && status && page|Returns page with filtered orders by status for defined date range. **Status and page are optional.**|"

+ Headers 
    Accept: application/json
    Authorization: Bearer [token]
    Content-Type: application/json
    
+ Parameters 
    + accountNumber :  (string, required)
        Account Number
    + orderNumber :  (string, optional)
        Sales Order Number
    + dateFrom : (string, optional)
        Date From
    + dateTo : (string, optional)
        Date To
    + status : (enum[string], optional)
        Status
        + Members
            + Reserved
            + Cancelled
            + Scheduled
            + Back Ordered
            + Released
            + Sent to Node
            + Shipped
            + Held
            + Ready for WMS
            + Waved
            + Picked
            + Manifested
            + Created
    + page : (string, optional)
        Page   

+ Response 200
    + Headers 
        Content-Type: application/json

    + Attributes (PurchaseOrderStatusRes)
    
+ Response 400
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Bad Request - Invalid URI parameters or querystring"
        }

+ Response 401 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Unauthorized Access - Invalid token or Authentication Header parameter"
        }

+ Response 429 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Too many requests in given amount of time"
        }

+ Response 503 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Service Unavailable"
        }

### Update Purchase Order [GET /v1/fulfillment/purchaseorder/update]
The API operation for Update Purchase Order

+ Request (application/json)
    + Headers 
        Accept: application/json
        Authorization: Bearer [token]
        Content-Type: application/json
    
    + Attributes (UpdatePurchaseOrderReq)

+ Response 200
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Purchase Order Updated"
        }
    
+ Response 400
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Bad Request - Invalid URI parameters or querystring"
        }

+ Response 401 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Unauthorized Access - Invalid token or Authentication Header parameter"
        }

+ Response 429 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Too many requests in given amount of time"
        }

+ Response 503 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Service Unavailable"
        }


## Return Order [/v1/fulfillment/returnorder/details/{accountNumber}/{orderNumber}
### Return Order Details [GET]
The API operation for Get Return Order Details

+ Headers 
    Accept: application/json
    Authorization: Bearer [token]
    Content-Type: application/json
    
+ Parameters 
    + accountNumber :  (string, required)
        Account Number
    + orderNumber :  (string, required)
        Return Order Number

+ Response 200
    + Headers 
        Content-Type: application/json

    + Attributes(ReturnOrderDetailsRes)
    
+ Response 400
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Bad Request - Invalid URI parameters or querystring"
        }

+ Response 401 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Unauthorized Access - Invalid token or Authentication Header parameter"
        }

+ Response 429 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Too many requests in given amount of time"
        }

+ Response 503 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Service Unavailable"
        }


### Return Order List [GET /v1/fulfillment/returnorder/list/{accountNumber}{?accountNumber,orderNumber,dateFrom,dateTo,status,page}]
The API operation for Get Return Order List\n\nThe optional parameters of the API operation are conditional. Following combinations of are allowed, when calling the API operation.
|Input Parameters                                      |Returned Values|
|-------------------------------------------------------|--------------|
|accountNumber                                          |Returns orders by account number|
|accountNumber && orderNumber                          |Returns order by account number and order number|
|accountNumber && status && page                     |Returns page of filtered orders by status and account number. **Page is optional.**|
|accountNumber && dateFrom && status && page          |Returns page of filtered orders by status and account number from defined date. **Status and page are optional.**|
|accountNumber && dateTo && status && page            |Returns page of filtered orders by status and account number to defined date. **Status and page are optional.**|
|accountNumber && dateFrom && dateTo && status && page|Returns page of filtered orders by status and account number for defined date range. **Status and page are optional.**|

+ Headers 
    Accept: application/json
    Authorization: Bearer [token]
    Content-Type: application/json
    
+ Parameters 
    + accountNumber :  (string, required)
        Account Number
    + orderNumber :  (string, optional)
        Sales Order Number
    + dateFrom : (string, optional)
        Date From
    + dateTo : (string, optional)
        Date To
    + status : (enum[string], optional)
        Status
        + Members
            + Reserved
            + Cancelled
            + Scheduled
            + Back Ordered
            + Released
            + Sent to Node
            + Shipped
            + Held
            + Ready for WMS
            + Waved
            + Picked
            + Manifested
            + Created
    + page : (string, optional)
        Page      

+ Response 200
    + Headers 
        Content-Type: application/json

    + Attributes(ReturnOrderListRes)
    
+ Response 400
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Bad Request - Invalid URI parameters or querystring"
        }

+ Response 401 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Unauthorized Access - Invalid token or Authentication Header parameter"
        }

+ Response 429 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Too many requests in given amount of time"
        }

+ Response 503 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Service Unavailable"
        }

## Shipment [/v1/fulfillment/shipment/details/{accountNumber}{?accountNumber,orderNumber,dateFrom,dateTo,date,page}]

### Shipment Details [GET]
The API operation for Get Shipment Details.
The optional parameters of the API operation are conditional. Following combinations of are allowed, when calling the API operation. 
|Input Parameters              |Returned Values|
|---------------------------------------------|-------------------|
|accountNumber                |Returns all shipments|
|accountNumber && orderNumber        |Returns shipments for given order number|
|accountNumber && dateFrom && dateTo && page|Returns page with shipments for given date range. **Page, dateFrom and dateTo are optional.**|
|accountNumber && date && page      |Returns shipments for given date. **Page is optional.**|

+ Headers 
    Accept: application/json
    Authorization: Bearer [token]
    Content-Type: application/json
    
+ Parameters 
    + accountNumber :  (string, required)
        Account Number
    + orderNumber :  (string, optional)
        Sales Order Number
    + dateFrom : (string, optional)
        Date From
    + dateTo : (string, optional)
        Date To
    + date : (string, optional)
        Date
    + page : (string, optional)
        Page 

+ Response 200
    + Headers 
        Content-Type: application/json

    + Attributes(ShipmentDetailsRes)
    
+ Response 400
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Bad Request - Invalid URI parameters or querystring"
        }

+ Response 401 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Unauthorized Access - Invalid token or Authentication Header parameter"
        }

+ Response 429 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Too many requests in given amount of time"
        }

+ Response 503 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Service Unavailable"
        }

+ Response 200
    + Headers 
        Content-Type: application/json

    + Attributes(ReturnOrderListRes)
    
+ Response 400
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Bad Request - Invalid URI parameters or querystring"
        }

+ Response 401 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Unauthorized Access - Invalid token or Authentication Header parameter"
        }

+ Response 429 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Too many requests in given amount of time"
        }

+ Response 503 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Service Unavailable"
        }

## Stock [/v1/fulfillment/stock/{inventoryAccountNumber}/{itemId}/{?node}]

### Available Stock [GET]
The API operation for Get Available Stock.

+ Headers 
    Accept: application/json
    Authorization: Bearer [token]
    Content-Type: application/json
    
+ Parameters 
    + inventoryAccountNumber :  (string, required)
        Inventory Account Number
    + itemId :  (string, required)
        Item Id
    + node : (enum[string], optional)
        Node
        + Members
            + OH1
            + CA1
            + JP1
            + MX1

+ Response 200
    + Headers 
        Content-Type: application/json

    + Attributes(AvailableStockRes)
    
+ Response 400
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Bad Request - Invalid URI parameters or querystring"
        }

+ Response 401 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Unauthorized Access - Invalid token or Authentication Header parameter"
        }

+ Response 429 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Too many requests in given amount of time"
        }

+ Response 503 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Service Unavailable"
        }

### Inventory Snapshot [GET /stock/snapshot/{inventoryAccountNumber}{?itemId,node}]
The API operation for Get Inventory Snapshot

+ Headers 
    Accept: application/json
    Authorization: Bearer [token]
    Content-Type: application/json
    
+ Parameters 
    + inventoryAccountNumber :  (string, required)
        Inventory Account Number
    + itemId :  (string, optional)
        Item Id
    + node : (enum[string], optional)
        Node
        + Members
            + OH1
            + CA1
            + JP1
            + MX1   

+ Response 200
    + Headers 
        Content-Type: application/json

    + Attributes(InventorySnapshotRes)
    
+ Response 400
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Bad Request - Invalid URI parameters or querystring"
        }

+ Response 401 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Unauthorized Access - Invalid token or Authentication Header parameter"
        }

+ Response 429 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Too many requests in given amount of time"
        }

+ Response 503 (application/json)
    + Headers 
        Content-Type: application/json

    + Body
        
        {
            "message": "Service Unavailable"
        }

# Group Shipping
Our global shipping API provides you with everything you need to bring your orders to your customers - for your domestic- as well as for your international ones.<br/><br/>
Starting with receiving shipping options via label creation and manifesting of your shipments to ensure a smooth handover to the creation of tracking updates - all within one API. 
You can use Shipping API for the Order Manifest and Label generation (PDF, PNG and ZPL formats).<br/><br/>


**API Authentication:** All API operations require `Access Token` to be passed in the Authorization Header for each request. The token type is an OAuth 2.0 Bearer token.<br/><br/> 
>**Note:** *[here](#reference/authentication) you can find more information how to to retrive the `Access Token`.* 

The Access Token is valid for 5h so it is not necessary to request the token for each request. Developers should implement the client application in a way that the token will be requested again only after it expires.



## Create Label [/shipping/v1/label{?format,labelSize,pageSize,layout}]

Now that you know the shipping product you want to use, you can use the API calls described here to create the labels you need for this.<br/><br/>
No matter if they are domestic labels, labels for your international shipments or if it is a postal or a commercial shipment - here you will receive them all.<br/><br/>
Furthermore, by creation of the shipping label you will receive a unique tracking code for your customer that is bound to the label you created.<br/><br/>

**Implementation Examples:** 
- *Create a Label*: XXXXX
- *XXX*: XXXXX
___

**Available API calls:**
INTRODUCTIONTEXT2

### Create Label [POST]

Purpose of this service is to generate labels for single mail item only (single package object).<br/><br/>
The benefit of this service is that it is synchronous and returns label contents directly in the response, so it is no necessity to download the labels afterwards.<br/><br/>

To use the Shipping and Label calls, you may use the following accounts and additional settings.

>**Note:** *The data provided in the table below is **only** for testing purposes. For the Production API calls there must be used your individual Pickup account number and Distribution center identifier.*

| International Shipping | Codes          | Comments            |
| -----------------------|----------------|---------------------|
|Pickup account          | 5317861        | International labels |
|Distribution center     | HKHKG1         | International labels|
|Product                 | PPS            | Parcel Plus, trackable|

| US Domestic            | Codes          | Comments            |
| -----------------------|----------------|---------------------|
|Pickup account          | 5330434        |  |
|Distribution center     | USATL1         | |
|Product                 | 631            | |

| Thailand Domestic      | Codes          | Comments            |
| -----------------------|----------------|---------------------|
|Pickup account          | 5999999130     |  |
|Distribution center     | THBKK1         | |
|Product                 | PDO            | |
|Currency                | THB            | |

| Chile Domestic         | Codes          | Comments            |
| -----------------------|----------------|---------------------|
|Pickup account          | 1000000012     |  |
|Distribution center     | CLSAN1         | |
|Product                 | PDO            | |
|Currency                | CLP            | |


| Vietnam Domestic       | Codes          | Comments            |
| -----------------------|----------------|---------------------|
|Pickup account          | 5248767454     |  |
|Distribution center     | VNSGN1         | |
|Product                 | PDO            | |
___

Recommended sequence for the Label service call is following:
        
1. Use clientId to obtain token using the authentication API - see `API Authentication` description above.
2. Prepare valid JSON request document per schema. Use data above depending on your use-case.
3. Call Sandbox API. The response message will contain information form the request; additionally it may contain a tracking number (depending on product) and base64-encoded label.

+ Request (application/json)
    + Headers 
        Accept: application/json
        Authorization: Bearer [token]
        Content-Type: application/json
    
    + Body
        
        {"shipments": [{
        "packages": [{
    "packageDetails": {
    "packageRefName": "55555555555555555",
    "insuredValue": 1,
    "weight": 2,
    "declaredValue": 250,
    "mailType": 2,
    "height": 30,
    "packageDesc": "Desc",
    "currency": "AUD",
    "length": 20,
    "weightUom": "G",
    "billingRef2": "ref 2",
    "packageId": "fybjywwbdt",
    "dutiesPaid": "DDU",
    "orderedProduct": "PKD",
    "dimensionUom": "CM",
    "billingRef1": "ref 1"
    },
    "consigneeAddress": {
    "city": "Test City",
    "name": "Test Name",
    "address1": "Address line 1",
    "address2": "apt 123",
    "phone": "555-555-5555",
    "state": "GA",
    "country": "IE",
    "postalCode": "99999",
    "email": "test@email.com"
    },
    "customsDetails": [{
    "skuNumber": "3333333333333",
    "countryOfOrigin": "US",
    "itemDescription": "Desc1",
    "itemValue": 10.1,
    "packagedQuantity": 10,
    "hsCode": "555555"
    }, {
    "skuNumber": "3333333333333",
    "countryOfOrigin": "CZ",
    "itemDescription": "Desc2",
    "itemValue": 20.2,
    "packagedQuantity": 20,
    "hsCode": "555555"
    }],
    "returnAddress": {
    "city": "Test City",
    "name": "John Returns Doe",
    "companyName": "Test Company",
    "country": "US",
    "state": "GA",
    "address1": "Address line 1",
    "postalCode": "99999"
    }
    }],
    "pickupAccount": "0005304327",
    "distributionCenter": "AUSYD1"
    }]
    }
    
    + Attributes (RequestFormat)

+ Parameters

    + format: `PDF` (enum[string], required)

        Mandatory parameter to define file format. One of PNG|ZPL|PDF

        + Default: PNG

        + Members
            + `PDF` 
            + `PNG` 
            + `ZPL` 

    + labelSize: `4x4` (enum[string], required)

        Mandatory parameter to difine size of the label. One of 4x6|4x4.

        + Default: 4x6
        + Members
            + `4x6` 
            + `4x4` 

    + pageSize: `A4` (enum[string], optional)

        Conditionaly mandatory, only for PDF format. Size of the page in PDF file. One of A4|400x600|400x600.

        + Default: A4
        + Members
            + `A4` 
            + `400x600` 
            + `400x400` 

    + layout: `1x1` (string, optional)

        Conditionaly mandatory, only for PDF format. Defines way how single labels are layouted on the PDF page. In case of pageSize=A4 it might be 4x1 or 1x1. Otherwise 1x1 is the only option.

        + Default: 1x1
        + Members
            + `4x1` 
            + `1x1` 

+ Response 201
    + Headers 
        Content-Type: application/json
        X-CorrelationID : Correlation ID which is unique for you request. Could be used by DHL Support for traceability purpose in case of an API error.

    + Attributes (ResponseFormat)
    
    + Body
    {
    "shipments": [
        {
            "pickupAccount": "0005304327",
            "distributionCenter": "AUSYD1",
            "packages": [
                {
                    "consigneeAddress": {
                        "name": "Test Name",
                        "address1": "Address line 1",
                        "address2": "apt 123",
                        "city": "Test City",
                        "state": "GA",
                        "postalCode": "99999",
                        "country": "IE",
                        "email": "test@email.com",
                        "phone": "555-555-5555"
                    },
                    "returnAddress": {
                        "name": "John Returns Doe",
                        "companyName": "Test Company",
                        "address1": "Address line 1",
                        "city": "Test City",
                        "state": "GA",
                        "postalCode": "99999",
                        "country": "US"
                    },
                    "packageDetails": {
                        "billingRef1": "ref 1",
                        "billingRef2": "ref 2",
                        "currency": "AUD",
                        "declaredValue": 250,
                        "dimensionUom": "CM",
                        "dutiesPaid": "DDU",
                        "height": 30,
                        "insuredValue": 1,
                        "length": 20,
                        "mailType": 2,
                        "orderedProduct": "PKD",
                        "packageDesc": "Desc",
                        "packageId": "fybjywwbdt",
                        "packageRefName": "55555555555555555",
                        "weight": 2,
                        "weightUom": "G"
                    },
                    "customsDetails": [
                        {
                            "itemDescription": "Desc1",
                            "countryOfOrigin": "US",
                            "hsCode": "555555",
                            "packagedQuantity": 10,
                            "itemValue": 10.1,
                            "skuNumber": "3333333333333"
                        },
                        {
                            "itemDescription": "Desc2",
                            "countryOfOrigin": "CZ",
                            "hsCode": "555555",
                            "packagedQuantity": 20,
                            "itemValue": 20.2,
                            "skuNumber": "3333333333333"
                        }
                    ],
                    "responseDetails": {
                        "labelDetails": [
                            {
                                "packageId": "fybjywwbdt",
                                "format": "PNG",
                                "templateId": "PLD",
                                "labelData": "iVBORw0KGgoAAAANSUhEUgAAAywAAATCAQAAAAB3HF9MAAAPZUlEQVR42u3dz4scSXYH8KwtM7mGZdLsXmagqbTxwVcZXVpQVMzJPs4fYAxrBtyHBe8sDXYXrq0oIeO+qQZ8WUHT+Scsy54MBlfTsOmDtvPoy4CznXLHYWEmS7FrZTKhCEdk1q8eazSSOl6ibX2Dmerq1kx9VJEvXsTLzooMglvVmOmgLW4Zg4aG9s431k2uAQMGDBgwYMCAAdM1o9YrvtXz2NiHUNuHvk+m2llYuufMCZEDQ59MuWai9jnfMBEJY/sod33X9Fzlm8m/zjQ9VzZHySOzKfp7zfNe23P5zkt7YWbBNtRm7j1tGE7KND238M1sSyXejJi252btQPLG6B2mCeX2LbXHyh+jdpg2CayZPhHDruea0CdT7TAvzjU+M7R7XV5uem43CXhn8mtMTMVsEsK1XOOTqdZjso253VzjiXF/c/fQ2yYEvpsEPDH5iulvE0LzysY703MPW+Z6rvHENDlssRqTq5lnN9d4YprkMluNyaZdW3D4YpoBP1sNli0T+mciE+wy13ONH0avGbZZfFzPNf6Wg01a5vm1HBr7ZapvfRFvDKdnSuJ3047GMN8dk2GbE9bJLXJPQi/MOi3325Bb7DKxNyZa7I7J7bqmDbng5szXloPR9QXHzklur8vB+PqCY7VA9L4cZNeLm3UB5ynSppu/+fV1TTPvVIGvEFCbqWxb3KyZfumL6W1eclvcbJncW6St03K4U9xUm595C4E1E+8UN2pb9Ppi8hcUN2pD+4q0dRLomZ1csx5LceArBKLZun/UNtesMwPzxsSzdRW9zTWbamQa+MtpONEFBgyYd49BQ0PDxUlvfHajk5wGBgwYMGDAgAEDBgwYMO8oU/ZuEyMNmDdgnhzFn10qcib/NJp9RM8URfpwb0Id0H2RFsmI0zOZpGekAfMWM11EmmWKNBlN6Jky6oRRjJ7BkgMMGDBgwNxe5tn6yb+X/CsdUjFi/YQtYqn61IxmaVxUS2rGLkPm57KiZiqWZA+kImAqxlg4K9mfnOvwySFj5q6hYMqIDXuzPA7uq37+D+wOPyRhipTtVyKd7+1Xy8KwP7YrxZqASQW7p8Q8HU2WtTAsiqWRBExm2D0jEjGaSGWZeC63o8gvsx83TBlYhmXS/oiEGfauMwkNw/K208yKYUSMusZoTsAIMVpHmguBJHlZErjJuNlrxs1oUrmAnseyNiRZ4P6wl+fxaKJ6llkwWQYkOe2chWXFRxMdWqbkNAyWHGDAgAED5nYxyXot86WKtblPzmRlqExAzsyXaaWHnJqJRFEqzYgZHQmZK0PCVPFl8s/jQVixM5Vl5rGhYfJokXznaK+fR8FPs8fx50RMmj4c7B9Vy/RXI5b9R6SMJgmBTMR7k/Gyzq44y85TZRRNQAt2osdSZfZdZGmhXlbg3oQ5dkwZLHRossxWHZKEKcOWsSHAG0aQMHnbacbYkG6YzNCEwIqxVUfDJDRM2kSaaiJNiJcngRuMm2M7bsZV3YybIlUvHTY3ODahzQJj1WtCoIyUCkiyQHnocpp2Oc1kKqZisOQAAwYMGDBgwIABAwYMGDBgwIABAwYMGDBgwIABAwYMGDBgwIABA+YtYkb2X56bZyoyhomgT8QMjdF8xkQVkjLK/sMfsnRZOEYZOqbiLD4WS2qm5CwJRU3IVOxOqK6mXB8YSqaM7vyg/mL6Qy1ImSIdylpPP+LCXdFJxqRiuFzq6YAJd0UnGZOZYS31lMXCXdFJyVSW4YlwV3RSMkq0DOuEcVd0UjL644ZxABkjhGM4Yy4JmCSjGzc60twGtPt07HxOlgWGcWwnAi7yXmYWMVlOGzkmNw1TcrIMvb2k/0vatUA3zOYS6P8iZUreyQKqxHIQDBgwYF5vyaFMvxNG9bphqk6YWvFOGH2bmKqbgFZxJ4zuJqBN3smxMd2EwMs/FuuNkbeIkXWtO2CWy2rSQQhU/Vf/X2/A6KiTaQ1LDjBgwIABAwYMmHePuUEDAwbMrWCQOsGAAQMGDBgwYMCAAQPmXWYWm/985q4WeG6E6oCpTUHCbH/b3VwsUJvLW8U8IWKqOFkxJTvL2ROlwyf7fOGbKaM1k8fBD9nVpOrnf8Rm3DNTpGsmfTi6Z9xnI4rjeMA8M2mxPjbzC+4YWYvslPlmMrlmkiteG3FiHMMTMmb2Xtgwl5YJYjomDMZGPFY9WiYxlT02T6p7rtMMIWMc04SAd2Yn0q5cpJVy6SItoRs3F27clEsbAknM6LJAFBwxUVU2BJKZb0axnZymmFBqzzK+cxqWHGDAgAED5q1mXqeBAQPmNjJInWDAgAEDBgwYMGDeeSY2cn2HUj1uvjzrhhEEjP54h+HNl7Qb5piAUeL/MSEJo+6W2Z8u3A1r9fgqzt32cxRM9YP84/5s0ssjPc6jBdMUIVDL5XkaxYP9Kk31+DKdx4aGKYr5fMTuqUzocSHihISRtZBJNuKPbBzosRAso2SCD+JFwwQRCZMHLbPXhAA1w01uwqbTaJKNUCtGGUHIZPqTJtIeNZEmRJwRMT+x44bF7bgRYk4T0InZt1mAzYarEFjERMzQ5jS2ymlC5JyEwZIDDBgwYMCAeROGmy+rOKdmbPWUlbbioGfmRTrvgImyYnXVKiWjo0wyUqaKf3YUqczWuaRMHn22Hz0nZ9L0eGAjzQhDGgKZmD90TPZKe/e+eQiI5MIxSUkb0Mctw0xMyZRhw7hMQBppbacpQ8tkLVMbRsuk81PLSBPPScfNcTNuhJmThkAefjaKTLbo004E5eHPeMPktMPzlXJZ98wiMs3dMtoAquy4zuy3Xxm3Ueaxjo27uYkPpr/DpJVuGWlfmOleFZqy74VpLnJfM+LplDff2h/OY3W0LMz5pR+m/gaGzZWSsv3zm6vpnJGiapPDF2TadUFV8m943874mKsvPh+eLAxkOtD2qTKE9MHi2G7iEJjLwaVmF2f9jbMszP4jZbpul8T6bpw8GQSzFcFtnecF8Ke5C9MkUm4hNhM/velC/UJmo+HEhR/zySxCI5hdcQl2Yl84uyfqCz5U0i33Wmbmh4nMMVNz+3ASWObDvLdilPHJZHZeZyqyDw3zaMPUK8ZTpNl5namD3HWaUcm/CLNipPEa0HYOZMqGwNcZYdrh6Y1JkxNpH/Y4s0xR20hzTNYymS8mPZ7v1enxw8GIq/jBUtpxo+y4SfSkSZ2lr2MTuiwQ2izANUurvs0CqjwwwfvTl00Erx9phzanlYcup1mmyWmqcgx/2bT2xpX0dgZhhAX7przTnJLZfI5Kjzghs/0cVUDJbD9HdR+nhsCAAQPmpUwVN7ezK0PjKkH7oENluOanoWJabV76pkwetUzPrcxsk6qvNFf8pF9Gyh8j0uaXybJaMUW1rBWv+P6ySKvtnRpuXhG0jOItcy6rurLM3UqI0ihvjGwZvWIeSFWX/Cm/q4TIN9WiB+YqPv0bS7D+4ihOzF2j5BW/mnKVycem9sWkNghOP7KMrQQ/jRJzaJkv+EXDfO6Pyc1lerrHpdmvpPvouC0EbAdaps6kMtIXU0aFOB0xae4p6YJOGmmZ0ymXXhnTF+KUW4YpmTVljRCajyZGOEZ4Y+SaKaU7f2NLDaGn04nJ/DL1ihkFKyYReqInJnFM6otJVowe7kl3Fta+LcsEe25nBLU9/euNGauW0TyzzIeaC+GRyZaWGXGpxpVMXQgod7LcosYxc1/MeWEZO26qqpSFsOOmbpnaFKna1jw3Hp6hZT6yE4EKyk9Dy5RBYpnDMrATgT/GTmvC5rQy1O8fuZy2ZRT7Zma115AO62dtNWHnkTMTqrjkZ984Sb/C/X9exNSm6tXNyAqYZWauJM7jF+w688bManeeZdkMYDWKn3IzGNoCP52/YNeZmzJFmyds5z61xf6+KuT8gvlnhOKieTIXTPNH+qBOrl6w68wNmGavoVSPZ8zdhDl7Feb112mrvYYyU88S99tPQ8U0ew1ZRrRMltAwzV5DjpnPVwz7QH2ynP+KxT6ZZq8hx2R2SFeRfU+DvaOfXKbHA69Ms9eQY9I1Mzv9ztEf5n8289ppzV5DjhHMzbhBaM6S9yYflgdnXpl2r6H2Qti6YYyNAjuUjGfG7TWkxsKmGcvYKZffcxfiXnDmNdLcXkOFqh2jzAWX355s3mjcuL2GlmUtSrtAZe/b9eRwspRpFg+51yzg9hqyE0Fe2VQVDG3HBarvLogJjE+m2WvITmulYxbKMt86rd2o9qzNtybe3yNG6k4K9gfdnBc4xskUMGDAgHklRix6t4nJDBgwnQR0/zYxCAEwmG+w5AADBgwYMGDAgAHztjBoaGjvenvjZPPqbQEGDBgwYMCAAQMGDBgwYMCAAQMGDBgwYMCAAQMGDBgwYMCAAQMGDBgwYMCAAQMGDBgwYMCAAQMGDBgwYMCAAQMGDBgwYMCAAQMGDBgwYMCAAQMGDBgwYMCAAQMGDBgwYMCAeTmTFM2XYnv7eRLmx1K5L7K5STYZo/mG4bSMaZkrSkb1vr/9/LD77P/iCmfDeHvzi5+Px/xS9O/5a00/7xl4+/+PXf/+iXj0k7TY8PH//Pr//uR4fEzE8PH//uNz/+K2pmIh/L3/z8r8mZ5Ykskr0lbQiowW+HXz1L/u23rE8Z0Oa5Uc86SJ0dMb8zz/+zA0YamXXA/D7PnuUnQt/hRX62+N7EnGUq/mDn8W3yv7RTyyf2pG708Ccbacq3jx5w/AgAEDBgwYMGDAgAEDBgwYMGDAgAEDBgwYMGDAgAEDBgwYMGDAgAEDBgwYMGDAgAED5p1jDHkDAwYMGDBgwIABAwYMGDBgwIABAwYMGDBvJVP2Vt9pTsoEvAtG6m4Yw24X03+6x/LpX0wnMSUz6pXfjWej9yZlSMioydHyfB4PRuOioAzoSkmRsdPpoZCUw7PWhyIzp9MDQRkCsgosowfTv8w5IVM3zGIwDWlDoDb22Dw4nd41D8gZFwJGUua0IxcCbDAdU0aaNMOJfTeDwXRCOW5sFggsM7MMaQiYpG+Zs4spaU7DkgMMGDBgwNwuJjfPu2AWpu6CycyyG+ayG+aMnHk6jHrmEf3ph/2wZ/6VnFkui6yDSJOF7IQRdSdM3rtNjDC3iSm6CYFlNwFd9TthVJR1M99gyQEGDBgwYG5VUbjopiic8U7KqAHrgtE87oZJOikKDTnTFIX0TFMUGvIQaIpCTR7QTVGoblVRKOkZV62JbpiMnnFFYULPuKKQ0TO2KNQBeep0RWEHDJYcYMCAAfO6DNprt/8DRemeL8CVYf8AAAAASUVORK5CYII="
                            }
                        ]
                    }
                }
            ]
        }
    ]
}

+ Response 400
    + Headers 
        Content-Type: application/json
        X-CorrelationID : Correlation ID which is unique for you request. Could be used by DHL Support for traceability purpose in case of an API error.
    
    + Attributes (ErrResponseFormatError)
    
    + Body
        
        {
            "message": "Bad Request - Invalid URI parameters or querystring"
        }

+ Response 401 (application/json)
    + Headers 
        Content-Type: application/json
        X-CorrelationID : Correlation ID which is unique for you request. Could be used by DHL Support for traceability purpose in case of an API error.
    
    + Attributes (ErrResponseFormatError)
    
    + Body
        
        {
            "message": "Unauthorized Access - Invalid token or Authentication Header parameter"
        }

+ Response 429 (application/json)
    + Headers 
        Content-Type: application/json
        X-CorrelationID : Correlation ID which is unique for you request. Could be used by DHL Support for traceability purpose in case of an API error.
    
    + Attributes (ErrResponseFormatError)
    
    + Body
        
        {
            "message": "Too many requests in given amount of time"
        }

+ Response 503 (application/json)
    + Headers 
        Content-Type: application/json
        X-CorrelationID : Correlation ID which is unique for you request. Could be used by DHL Support for traceability purpose in case of an API error.
    
    + Attributes (ErrResponseFormatError)
    
    + Body
        
        {
            "message": "Service Unavailable"
        }
        
## Order Manifest [/v1/Shipping/manifest]
**Manifesting** (sometimes refered to as *Close-out*) describes the process of transmitting your final shipments to us before the physical transfer of the shipments.<br/><br/>
Within this process, a document (**the Manifest**) is beeing created sumarizing all the to be shipped items, their total weight as well as associated information on your account.<br/><br/>
The created document also includes your signature and a barcode. During drop-off or pick-up, this document is scanned by us.<br/><br/>
___
**Implementation Examples:** 
- *Create your first manifest*: XXXXX
- *Embed the manifest creation into your process*: XXXXX

___
**Available API calls:**
INTRODUCTIONTEXT2

### Create Manifest [POST]
Purpose of this service is to create shipping order manifest.<br/><br/>
The shipping order manifest (SOM) API uses the same document format / JSON schema like Label service.<br/><br/> 
It does allow transmission of data for up to 1000 parcels in a single call.<br/><br/>
The recommended sequence for the SOM call is following:

    1. Use client id to obtain token using the authentication API- see `API Authentication` description above.
    2. Prepare valid JSON request document per schema. Use data above depending on your use-case.
    3. Call Sandbox API. The response message will acknowledge success or failure of the call.

+ Request (application/json)
    + Headers 
        Accept: application/json
        Authorization: Bearer [token]
        Content-Type: application/json
    
    + Attributes (RequestFormat)
    
+ Response 201
    + Headers 
        Content-Type: application/json
        X-CorrelationID : Correlation ID which is unique for you request. Could be used by DHL Support for traceability purpose in case of an API error.
    
    + Attributes (ErrResponseFormatError)
    
    + Attributes (ResponseFormat)

+ Response 400
    + Headers 
        Content-Type: application/json
        X-CorrelationID : Correlation ID which is unique for you request. Could be used by DHL Support for traceability purpose in case of an API error.
    
    + Attributes (ErrResponseFormatError)
    
    + Body
        
        {
            "message": "Bad Request - Invalid URI parameters or querystring"
        }

+ Response 401 (application/json)
    + Headers 
        Content-Type: application/json
        X-CorrelationID : Correlation ID which is unique for you request. Could be used by DHL Support for traceability purpose in case of an API error.
    
    + Attributes (ErrResponseFormatError)
    
    + Body
        
        {
            "message": "Unauthorized Access - Invalid token or Authentication Header parameter"
        }

+ Response 429 (application/json)
    + Headers 
        Content-Type: application/json
        X-CorrelationID : Correlation ID which is unique for you request. Could be used by DHL Support for traceability purpose in case of an API error.
    
    + Attributes (ErrResponseFormatError)
    
    + Body
        
        {
            "message": "Too many requests in given amount of time"
        }

+ Response 503 (application/json)
    + Headers 
        Content-Type: application/json
        X-CorrelationID : Correlation ID which is unique for you request. Could be used by DHL Support for traceability purpose in case of an API error.
    
    + Attributes (ErrResponseFormatError)
    
    + Body
        
        {
            "message": "Service Unavailable"
        }


# Data Structures

## CancelPurchaseOrderReq (object)



+ `CancelPurchaseOrder` (CancelPurchaseOrder, required) 


## CancelPurchaseOrder (object)



+ `AccountNumber` (string, required) 
+ `OrderNumber` (string, required) 


## CreateItemReq (object)



+ `CreateItem` (CreateItem, required) 


## CreateItem (object)



+ `AccountNumber` (string, required) 
+ `ItemID` (string, required) 
+ `ItemDetails` (ItemDetails, required) 
+ `Classification` (Classification, optional) 
+ `InventoryParameters` (InventoryParameters, optional) 
+ `AdditionalProductReferenceIdentifiers` (array[AdditionalProductReferenceIdentifier], optional) 


## ItemDetails (object)



+ `ShortDescription` (string, required) 
+ `UnitOfMeasure` (string, required) 
+ `IsReturnable` (boolean, required) 
+ `IsSubstitutionAllowed` (boolean, required) 
+ `IsSubstitutionAutomatic` (boolean, required) 
+ `ItemStatus` (string, required) 
+ `IsInsert` (boolean, required) 
+ `LongDescription` (string, optional) 
+ `ProductCategory` (string, optional) 
+ `CountryOfOrigin` (string, optional) 
+ `Color` (Color, optional) 
+ `Image` (Image, optional) 
+ `IsFragile` (boolean, optional) 
+ `IsModelItem` (boolean, optional) 
+ `ReturnWindow` (number, optional) 
+ `SizeCode` (string, optional) 
+ `PhysicalInformation` (PhysicalInformation, optional) 
+ `UnitCost` (UnitCost, optional) 
+ `IsTempSensitive` (boolean, optional) 
+ `AdditionalQC` (boolean, optional) 
+ `AdditionalPackslipVerbiage` (boolean, optional) 
+ `GenderGroup` (string, optional) 
+ `GenderAge` (string, optional) 


## Color (object)



+ `Code` (string, required) 
+ `Name` (string, required) 


## Image (object)



+ `Location` (string, required) 
+ `Identifier` (string, required) 
+ `Label` (string, optional) 


## PhysicalInformation (object)



+ `Height` (number, optional) 
+ `Length` (number, optional) 
+ `Width` (number, optional) 
+ `Weight` (number, optional) 
+ `WeightUnitOfMeasure` (string, optional) 
+ `DimensionUnitOfMeasure` (string, optional) 


## UnitCost (object)



+ `Amount` (number, required) 
+ `Currency` (string, optional) 


## Classification (object)



+ `HarmonizedCode` (string, optional) 
+ `HazmatClass` (string, optional) 
+ `Model` (string, optional) 


## InventoryParameters (object)



+ `IsSerialTracked` (boolean, optional) 
+ `OnhandSafetyFactorQuantity` (number, optional) 
+ `TagControlFlag` (boolean, optional) 
+ `UseUPCForInventory` (boolean, optional) 


## AdditionalProductReferenceIdentifier (object)



+ `ProductReference` (string, required) 
+ `Identifier` (string, required) 


## CreateSalesOrderReq (object)



+ `CreateSalesOrder` (CreateSalesOrder, required) 


## CreateSalesOrder (object)



+ `MessageDateTime` (string, required) 
+ `OrderSubmissionID` (string, required) 
+ `AccountNumber` (string, required) 
+ `Order` (Order, required) 
+ `OrgID` (string, optional) 


## Order (object)



+ `OrderHeader` (OrderHeader, required) 
+ `OrderDetails` (OrderDetails, required) 
+ `AdditionalReferences` (AdditionalReferences, optional) 


## OrderHeader (object)



+ `OrderDateTime` (string, required) 
+ `OrderNumber` (string, required) 
+ `ShippingServiceID` (string, required) 
+ `Charges` (Charges, required) 
+ `BillTo` (BillTo, required) 
+ `Shipto` (Shipto, required) 
+ `OrderReferenceNumber` (string, optional) 
+ `SalesChannel` (string, optional) 
+ `IsB2BOrder` (string, optional) 
+ `ShippingServiceOption` (string, optional) 
+ `ShipFromNode` (string, optional) 
+ `B2BOrderReference` (string, optional) 
+ `PaymentMethods` (PaymentMethods, optional) 


## Charges (object)



+ `OrderCurrency` (string, required) 
+ `OrderTotal` (string, required) 
+ `OrderSubTotal` (string, required) 
+ `TotalShippingCharge` (string, required) 
+ `TaxTotal` (string, required) 
+ `CODAmount` (string, optional) 
+ `TotalOrderDiscount` (string, optional) 
+ `TaxDetail` (array[TaxDetail], optional) 
+ `ChargeDetail` (array[ChargeDetail], optional) 


## TaxDetail (object)



+ `TaxAmount` (string, required) 
+ `TaxName` (string, required) 
+ `TaxPercentage` (string, required) 


## ChargeDetail (object)



+ `ChargeAmount` (string, required) 
+ `ChargeName` (string, required) 
+ `ChargeType` (string, required) 


## PaymentMethods (object)



+ `PaymentMethod` (array[PaymentMethod], optional) 


## PaymentMethod (object)



+ `PaymentType` (string, required) 
+ `AccountHolderName` (string, optional) 
+ `TruncatedAccountIdentifier` (string, optional) 


## BillTo (object)



+ `FirstName` (string, required) 
+ `LastName` (string, required) 
+ `AddressLine1` (string, required) 
+ `City` (string, required) 
+ `ZipCode` (string, required) 
+ `Country` (string, required) 
+ `AddressLine2` (string, optional) 
+ `AddressLine3` (string, optional) 
+ `State` (string, optional) 
+ `PhoneNumber` (string, optional) 
+ `EmailID` (string, optional) 


## Shipto (object)



+ `FirstName` (string, required) 
+ `LastName` (string, required) 
+ `AddressLine1` (string, required) 
+ `City` (string, required) 
+ `ZipCode` (string, required) 
+ `Country` (string, required) 
+ `AddressLine2` (string, optional) 
+ `AddressLine3` (string, optional) 
+ `State` (string, optional) 
+ `PhoneNumber` (string, optional) 
+ `EmailID` (string, optional) 
+ `IDType` (string, optional) 
+ `IDValue` (string, optional) 


## OrderDetails (object)



+ `OrderLine` (array[OrderLine], required) 


## OrderLine (object)



+ `OrderLineNumber` (string, required) 
+ `OrderedQuantity` (string, required) 
+ `ItemID` (string, required) 
+ `ItemDescription` (string, required) 
+ `Price` (string, required) 
+ `ProductIDReference` (string, optional) 
+ `LineTotal` (string, optional) 
+ `LotNumber` (string, optional) 
+ `EstDeliveryDate` (string, optional) 
+ `Instruction` (array[Instruction], optional) 
+ `TaxDetail` (array[TaxDetail], optional) 
+ `ChargeDetail` (array[ChargeDetail27], optional) 


## Instruction (object)



+ `Type` (string, required) 
+ `Details` (string, required) 


## ChargeDetail27 (object)



+ `ChargeName` (string, required) 
+ `ChargeCategory` (string, required) 
+ `AmountPerLine` (string, optional) 
+ `AmountPerUnit` (string, optional) 


## AdditionalReferences (object)



+ `Orderref1` (string, optional) 
+ `Orderref2` (string, optional) 
+ `Orderref3` (string, optional) 
+ `Orderref4` (string, optional) 
+ `Orderref5` (string, optional) 
+ `Orderref6` (string, optional) 
+ `Orderref7` (string, optional) 
+ `Orderref8` (string, optional) 
+ `Orderref9` (string, optional) 
+ `Orderref10` (string, optional) 


## CreatePurchaseOrderReq (object)



+ `CreatePurchaseOrder` (CreatePurchaseOrder, required) 


## CreatePurchaseOrder (object)



+ `MessageDateTime` (string, required) 
+ `OrderSubmissionID` (string, required) 
+ `AccountNumber` (string, required) 
+ `OrderHeader` (OrderHeader31, required) 
+ `OrderDetails` (array[OrderDetails35], required) 
+ `BillingAccountNumber` (string, optional) 


## OrderHeader31 (object)



+ `OrderNumber` (string, required) 
+ `OrderDateTime` (string, required) 
+ `ReceivingNode` (string, required) 
+ `RequestedDeliveryDate` (string, required) 
+ `ExpectedDeliveryDate` (string, required) 
+ `ShipFrom` (ShipFrom, required) 
+ `BillTo` (BillTo34, required) 
+ `OrderReferenceNumber` (string, optional) 
+ `InvoiceNumber` (string, optional) 
+ `ShipmentTrackingNumber` (string, optional) 
+ `CarrierName` (string, optional) 
+ `NotificationEmailID` (string, optional) 
+ `ShipTo` (ShipTo33, optional) 


## ShipFrom (object)



+ `VendorName` (string, required) 
+ `AddressLine1` (string, required) 
+ `City` (string, required) 
+ `ZipCode` (string, required) 
+ `Country` (string, required) 
+ `AddressLine2` (string, optional) 
+ `AddressLine3` (string, optional) 
+ `State` (string, optional) 
+ `PhoneNumber` (string, optional) 
+ `EmailID` (string, optional) 


## ShipTo33 (object)



+ `AddressLine1` (string, required) 
+ `City` (string, required) 
+ `ZipCode` (string, required) 
+ `Country` (string, required) 
+ `AddressLine2` (string, optional) 
+ `AddressLine3` (string, optional) 
+ `State` (string, optional) 
+ `PhoneNumber` (string, optional) 
+ `EmailID` (string, optional) 


## BillTo34 (object)



+ `AddressLine1` (string, required) 
+ `City` (string, required) 
+ `ZipCode` (string, required) 
+ `Country` (string, required) 
+ `AddressLine2` (string, optional) 
+ `AddressLine3` (string, optional) 
+ `State` (string, optional) 
+ `PhoneNumber` (string, optional) 
+ `EmailID` (string, optional) 


## OrderDetails35 (object)



+ `OrderLineNumber` (string, required) 
+ `OrderedQuantity` (number, required) 
+ `RequestedDeliveryDate` (string, required) 
+ `ItemID` (string, required) 
+ `ProductClass` (string, required) 
+ `UnitOfMeasure` (string, required) 
+ `CountryOfOrigin` (string, optional) 
+ `CostDetails` (CostDetails, optional) 


## CostDetails (object)



+ `RetailPrice` (number, optional) 
+ `WholesalePrice` (number, optional) 
+ `UnitCost` (number, optional) 
+ `Currency` (string, optional) 


## UpdateItemReq (object)



+ `UpdateItem` (UpdateItem, required) 


## UpdateItem (object)



+ `AccountNumber` (string, required) 
+ `ItemID` (string, required) 
+ `ItemDetails` (ItemDetails39, optional) 
+ `Classification` (Classification, optional) 
+ `InventoryParameters` (InventoryParameters45, optional) 
+ `AdditionalProductReferenceIdentifiers` (array[AdditionalProductReferenceIdentifier], optional) 


## ItemDetails39 (object)



+ `ShortDescription` (string, optional) 
+ `LongDescription` (string, optional) 
+ `ProductCategory` (string, optional) 
+ `UnitOfMeasure` (string, optional) 
+ `CountryOfOrigin` (string, optional) 
+ `Color` (Color, optional) 
+ `Image` (Image, optional) 
+ `IsReturnable` (boolean, optional) 
+ `IsSubstitutionAllowed` (boolean, optional) 
+ `IsSubstitutionAutomatic` (boolean, optional) 
+ `IsFragile` (boolean, optional) 
+ `ReturnWindow` (number, optional) 
+ `SizeCode` (string, optional) 
+ `ItemStatus` (string, optional) 
+ `PhysicalInformation` (PhysicalInformation, optional) 
+ `UnitCost` (UnitCost, optional) 
+ `IsInsert` (boolean, optional) 
+ `IsTempSensitive` (boolean, optional) 
+ `AdditionalQC` (boolean, optional) 
+ `AdditionalPackslipVerbiage` (boolean, optional) 
+ `GenderGroup` (string, optional) 
+ `GenderAge` (string, optional) 


## InventoryParameters45 (object)



+ `OnhandSafetyFactorQuantity` (number, optional) 
+ `UseUPCForInventory` (boolean, optional) 


## UpdatePurchaseOrderReq (object)



+ `UpdatePurchaseOrder` (UpdatePurchaseOrder, required) 


## UpdatePurchaseOrder (object)



+ `AccountNumber` (string, required) 
+ `OrderHeader` (OrderHeader49, required) 
+ `BillingAccountNumber` (string, optional) 
+ `OrderDetails` (array[OrderDetails53], optional) 


## OrderHeader49 (object)



+ `OrderNumber` (string, required) 
+ `OrderReferenceNumber` (string, optional) 
+ `InvoiceNumber` (string, optional) 
+ `ShipmentTrackingNumber` (string, optional) 
+ `CarrierName` (string, optional) 
+ `NotificationEmailID` (string, optional) 
+ `ExpectedDeliveryDate` (string, optional) 
+ `ShipFrom` (ShipFrom, optional) 
+ `ShipTo` (ShipTo33, optional) 
+ `BillTo` (BillTo34, optional) 


## OrderDetails53 (object)



+ `Action` (enum[string], required) 
    + `CREATE`
    + `MODIFY`
+ `OrderLineKey` (string, optional) 
+ `OrderLineNumber` (string, optional) 
+ `OrderedQuantity` (number, optional) 
+ `RequestedDeliveryDate` (string, optional) 
+ `ItemID` (string, optional) 
+ `CountryOfOrigin` (string, optional) 
+ `ProductClass` (string, optional) 
+ `UnitOfMeasure` (string, optional) 
+ `CostDetails` (CostDetails, optional) 


## AvailableStockRes (object)



+ `AvailableStock` (AvailableStock, required) 


## AvailableStock (object)



+ `InventoryAccountNumber` (string, required) 
+ `Product` (array[Product], required) 


## Product (object)



+ `ItemID` (string, required) 
+ `ItemDescription` (string, required) 
+ `AvailableQuantity` (string, required) 


## BackOrderListRes (object)



+ `Page` (Page, required) 


## Page (object)



+ `PageNumber` (string, required) 
+ `IsValidPage` (string, required) 
+ `IsLastPage` (string, required) 
+ `TotalNumberOfOrders` (string, required) 
+ `OrderList` (OrderList, optional) 


## OrderList (object)



+ `Order` (array[Order62], required) 


## Order62 (object)



+ `AccountNumber` (string, required) 
+ `OrgID` (string, required) 
+ `MessageDateTime` (string, required) 
+ `OrderNumber` (string, required) 
+ `OrderReferenceNumber` (string, required) 
+ `OrderDateTime` (string, required) 
+ `OrderStatus` (string, required) 
+ `IsOnHold` (string, required) 
+ `HoldReasonCode` (string, required) 


## InventorySnapshotRes (object)



+ `InventorySnapshot` (InventorySnapshot, required) 


## InventorySnapshot (object)



+ `InventoryAccountNumber` (string, required) 
+ `Catalog` (array[Catalog], required) 


## Catalog (object)



+ `Product` (array[Product66], required) 


## Product66 (object)



+ `ItemID` (string, required) 
+ `ItemDescription` (string, required) 
+ `TotalInventory` (array[TotalInventory], required) 
+ `SupplyDetail` (array[SupplyDetail], required) 
+ `DemandDetail` (array[DemandDetail], optional) 


## TotalInventory (object)



+ `Type` (string, required) 
+ `Quantity` (string, required) 


## SupplyDetail (object)



+ `Node` (string, required) 
+ `Inventory` (array[Inventory], required) 


## Inventory (object)



+ `Type` (string, required) 
+ `Quantity` (string, required) 
+ `LotNumber` (string, optional) 


## DemandDetail (object)



+ `Node` (string, required) 
+ `Inventory` (array[Inventory71], required) 


## Inventory71 (object)



+ `Type` (string, required) 
+ `Quantity` (string, required) 


## ItemListRes (object)



+ `Page` (Page73, required) 
+ `Items` (array[Item], optional) 


## Page73 (object)



+ `PageNumber` (string, required) 
+ `IsValidPage` (string, required) 
+ `IsLastPage` (string, required) 
+ `TotalNumberOfItems` (string, required) 


## Item (object)



+ `AccountNumber` (string, required) 
+ `ItemID` (string, required) 
+ `ItemDetails` (ItemDetails75, optional) 
+ `Classification` (Classification, optional) 
+ `InventoryParameters` (InventoryParameters81, optional) 
+ `AdditionalProductReferenceIdentifiers` (array[AdditionalProductReferenceIdentifier], optional) 


## ItemDetails75 (object)



+ `ShortDescription` (string, optional) 
+ `LongDescription` (string, optional) 
+ `ProductCategory` (string, optional) 
+ `UnitOfMeasure` (string, optional) 
+ `CountryOfOrigin` (string, optional) 
+ `Color` (Color, optional) 
+ `Image` (Image, optional) 
+ `IsReturnable` (boolean, optional) 
+ `IsSubstitutionAllowed` (boolean, optional) 
+ `IsSubstitutionAutomatic` (boolean, optional) 
+ `IsFragile` (boolean, optional) 
+ `ReturnWindow` (number, optional) 
+ `SizeCode` (string, optional) 
+ `StyleCode` (string, optional) 
+ `ItemStatus` (string, optional) 
+ `PhysicalInformation` (PhysicalInformation, optional) 
+ `UnitCost` (UnitCost, optional) 
+ `IsInsert` (boolean, optional) 
+ `IsTempSensitive` (boolean, optional) 
+ `AdditionalQC` (boolean, optional) 
+ `AdditionalPackslipVerbiage` (boolean, optional) 
+ `GenderGroup` (string, optional) 
+ `GenderAge` (string, optional) 


## InventoryParameters81 (object)



+ `IsSerialTracked` (boolean, optional) 
+ `OnhandSafetyFactorQuantity` (number, optional) 
+ `TagControlFloag` (boolean, optional) 
+ `UseUPCForInventory` (boolean, optional) 


## PurchaseOrderAcknowledgementRes (object)



+ `CreationAcknowledge` (CreationAcknowledge, required) 


## CreationAcknowledge (object)



+ `Order` (Order85, required) 


## Order85 (object)



+ `AccountNumber` (string, required) 
+ `OrgID` (string, required) 
+ `OrderDateTime` (string, required) 
+ `OrderNumber` (string, required) 
+ `OrderReferenceNumber` (string, required) 
+ `OrderSubmission` (OrderSubmission, required) 


## OrderSubmission (object)



+ `OrderSubmissionID` (string, required) 
+ `MessageID` (string, required) 
+ `OrderCreationStatus` (string, required) 
+ `Error` (array[Error], optional) 


## Error (object)



+ `ErrorCode` (string, required) 
+ `ErrorDescription` (string, required) 


## PurchaseOrderDetailsRes (object)



+ `PurchaseOrderDetails` (PurchaseOrderDetails, required) 


## PurchaseOrderDetails (object)



+ `MessageDateTime` (string, required) 
+ `AccountNumber` (string, required) 
+ `BillingAccountNumber` (string, required) 
+ `OrderHeader` (OrderHeader90, required) 
+ `ShipFrom` (ShipFrom91, required) 
+ `BillTo` (BillTo34, required) 
+ `ShipTo` (ShipTo33, required) 
+ `OrderDetails` (array[OrderDetails94], required) 


## OrderHeader90 (object)



+ `OrderNumber` (string, required) 
+ `OrderReferenceNumber` (string, required) 
+ `InvoiceNumber` (string, required) 
+ `ShipmentTrackingNumber` (string, required) 
+ `CarrierName` (string, required) 
+ `OrderDateTime` (string, required) 
+ `ReceivingNode` (string, required) 
+ `LastChangeTimestamp` (string, required) 
+ `RequestedDeliveryDate` (string, required) 
+ `ExpectedDeliveryDate` (string, required) 
+ `OrderStatus` (string, required) 


## ShipFrom91 (object)



+ `AddressLine1` (string, required) 
+ `AddressLine2` (string, required) 
+ `AddressLine3` (string, required) 
+ `City` (string, required) 
+ `State` (string, required) 
+ `ZipCode` (string, required) 
+ `Country` (string, required) 
+ `PhoneNumber` (string, required) 
+ `EmailID` (string, required) 


## OrderDetails94 (object)



+ `OrderLineNumber` (string, required) 
+ `OrderLineKey` (string, required) 
+ `OrderedQuantity` (number, required) 
+ `RequestedDeliveryDate` (string, required) 
+ `ItemID` (string, required) 
+ `CountryOfOrigin` (string, required) 
+ `ProductClass` (string, required) 
+ `UnitOfMeasure` (string, required) 
+ `OrderLineStatus` (string, required) 
+ `CostDetails` (CostDetails, required) 
+ `LotNumber` (string, optional) 
+ `Status` (string, optional) 
+ `OpenQty` (string, optional) 


## PurchaseOrderStatusRes (object)



+ `Page` (Page97, required) 
+ `PurchaseOrderList` (array[PurchaseOrderList], optional) 


## Page97 (object)



+ `PageNumber` (string, required) 
+ `IsValidPage` (string, required) 
+ `IsLastPage` (string, required) 
+ `TotalNumberOfOrders` (string, required) 


## PurchaseOrderList (object)



+ `AccountNumber` (string, required) 
+ `MessageDateTime` (string, required) 
+ `OrderNumber` (string, required) 
+ `OrderDateTime` (string, required) 
+ `OrderStatus` (string, required) 
+ `ReceivingNode` (string, required) 


## ReturnOrderDetailsRes (object)



+ `ReturnOrderDetails` (ReturnOrderDetails, required) 


## ReturnOrderDetails (object)



+ `AccountNumber` (string, required) 
+ `OrderHeader` (OrderHeader101, required) 
+ `OrderDetails` (array[OrderDetails103], required) 


## OrderHeader101 (object)



+ `OrderNumber` (string, required) 
+ `OrderDateTime` (string, required) 
+ `LastChangeTimestamp` (string, required) 
+ `OrderStatus` (string, required) 
+ `ReturnFrom` (ReturnFrom, required) 


## ReturnFrom (object)



+ `FirstName` (string, required) 
+ `LastName` (string, required) 
+ `AddressLine1` (string, required) 
+ `AddressLine2` (string, required) 
+ `AddressLine3` (string, required) 
+ `City` (string, required) 
+ `State` (string, required) 
+ `ZipCode` (string, required) 
+ `Country` (string, required) 
+ `PhoneNumber` (string, required) 
+ `EmailID` (string, required) 


## OrderDetails103 (object)



+ `DerivedFromSalesOrderNumber` (string, required) 
+ `ReturnedQuantity` (number, required) 
+ `ItemID` (string, required) 
+ `ItemDescription` (string, required) 
+ `Price` (number, required) 
+ `LineTotal` (number, required) 
+ `OrderLineStatus` (string, required) 
+ `ShipNode` (string, required) 
+ `ReturnReason` (string, required) 
+ `ReturnMethod` (string, optional) 


## ReturnOrderListRes (object)



+ `Page` (Page97, required) 
+ `ReturnOrderList` (array[ReturnOrderList], optional) 


## ReturnOrderList (object)



+ `AccountNumber` (string, required) 
+ `ReturnOrderNumber` (string, required) 
+ `OrderDateTime` (string, required) 
+ `OrderStatus` (string, required) 


## SalesOrderAcknowledgementRes (object)



+ `CreationAcknowledge` (CreationAcknowledge, required) 


## SalesOrderDetailsRes (object)



+ `SalesOrderDetails` (SalesOrderDetails, required) 


## SalesOrderDetails (object)



+ `MessageDateTime` (string, required) 
+ `AccountNumber` (string, required) 
+ `OrgID` (string, required) 
+ `Order` (array[Order114], required) 


## Order114 (object)



+ `OrderHeader` (OrderHeader115, required) 
+ `OrderDetails` (OrderDetails123, required) 
+ `AdditionalReferences` (AdditionalReferences, required) 


## OrderHeader115 (object)



+ `DHLSalesOrderNumber` (string, required) 
+ `OrderStatus` (string, required) 
+ `IsOnHold` (string, required) 
+ `HoldReasonCode` (string, required) 
+ `LastChangeTimestamp` (string, required) 
+ `OrderDateTime` (string, required) 
+ `OrderNumber` (string, required) 
+ `OrderReferenceNumber` (string, required) 
+ `SalesChannel` (string, required) 
+ `IsB2BOrder` (string, required) 
+ `ShippingServiceID` (string, required) 
+ `ShippingServiceOption` (string, required) 
+ `Charges` (Charges, required) 
+ `PaymentMethods` (PaymentMethods, required) 
+ `BillTo` (BillTo, required) 
+ `Shipto` (Shipto122, required) 
+ `ShipFromNode` (string, optional) 
+ `B2BOrderReference` (string, optional) 


## Shipto122 (object)



+ `FirstName` (string, required) 
+ `LastName` (string, required) 
+ `AddressLine1` (string, required) 
+ `AddressLine2` (string, required) 
+ `AddressLine3` (string, required) 
+ `City` (string, required) 
+ `State` (string, required) 
+ `ZipCode` (string, required) 
+ `Country` (string, required) 
+ `PhoneNumber` (string, required) 
+ `EmailID` (string, required) 


## OrderDetails123 (object)



+ `OrderLine` (array[OrderLine124], required) 


## OrderLine124 (object)



+ `OrderLineNumber` (string, required) 
+ `OrderedQuantity` (string, required) 
+ `ItemID` (string, required) 
+ `ProductIDReference` (string, required) 
+ `ItemDescription` (string, required) 
+ `Price` (string, required) 
+ `LineTotal` (string, required) 
+ `OrderLineStatus` (string, required) 
+ `Instruction` (array[Instruction], required) 
+ `TaxDetail` (array[TaxDetail], required) 
+ `LotNumber` (string, optional) 
+ `EstDeliveryDate` (string, optional) 
+ `Status` (string, optional) 
+ `OpenQty` (string, optional) 


## SalesOrderStatusRes (object)



+ `Page` (Page, required) 


## ShipmentDetailsRes (object)



+ `Page` (Page133, required) 


## Page133 (object)



+ `PageNumber` (string, required) 
+ `IsValidPage` (string, required) 
+ `IsLastPage` (string, required) 
+ `TotalNumberOfOrders` (string, required) 
+ `OrderList` (OrderList134, optional) 


## OrderList134 (object)



+ `Order` (array[Order135], required) 


## Order135 (object)



+ `OrderNumber` (string, required) 
+ `Shipments` (array[Shipment], required) 


## Shipment (object)



+ `Shipment` (array[Shipment137], required) 


## Shipment137 (object)



+ `TrackingNumber` (string, required) 
+ `Service` (string, required) 
+ `SCAC` (string, required) 
+ `Shipdate` (string, required) 
+ `ShipNode` (string, required) 
+ `PackageContent` (array[PackageContent], required) 
+ `ContainerNumber` (string, optional) 
+ `OrderReferenceNumber` (string, optional) 


## PackageContent (object)



+ `ItemID` (string, required) 
+ `OriginalOrderLineNumber` (string, required) 
+ `OrderQuantity` (string, required) 
+ `ShipQuantity` (string, required) 
+ `LotNumber` (string, optional) 
+ `SerialNumber` (string, optional) 


## RequestFormat (object)

+ `shipments` (array[Shipment2], required) - Container array for one or more shipments


## Shipment2 (object)



+ `pickupAccount` (string, required) - The DHL eCommerce pickup account number. You will receive this after doing the onboarding with DHL sales.
+ `distributionCenter` (string, required) - Primary DHL eCommerce Distribution center assigned to your products/services. This will be provided during onboarding.
+ `packages` (array[Package], required) - One or more packages. At the moment, only one package is supported by the label service.
+ `consignmentNumber` (string, optional) - Customer defined number for identifying the consignment (i.e. a consolidation of parcels..


## Package (object)



+ `consigneeAddress` (ConsigneeAddress, required) - Address of the consignee.
+ `packageDetails` (PackageDetails, required) - Details of one package.
+ `returnAddress` (ReturnAddress, optional) - Address of the returns (if different from shipper)
+ `customsDetails` (array[CustomsDetail], optional) - Details for one or more customs commodities. Only applicable if orderedProduct is an International Product


## ConsigneeAddress (object)



+ `address1` (string, required) - Line 1 of the consignee's street address or delivery location
+ `city` (string, required) - Consignee's city
+ `country` (string, required) - Two-character ISO consignee address country code.
+ `address2` (string, optional) - Line 2 of the consignee's street address or delivery location
+ `address3` (string, optional) - Line 3 of the consignee's street address or delivery location - typically used for addresses to designate province, district, or neighborhood
+ `companyName` (string, optional) - Name of the institution receiving the shipment
+ `email` (string, optional) - Consignee's email address
+ `idNumber` (string, optional) - Consignee's identification number
+ `idType` (string, optional) - Denotes the type of identification number provided by the consignee for customs clearance and delivery. Note: Provide if available for DHL Parcel International Direct to S. Korea and China
+ `name` (string, optional) - Name of the person receiving the shipment
+ `phone` (string, optional) - Consignee's phone number
+ `postalCode` (string, optional) - Consignee's postal code
+ `state` (string, optional) - Consignee's state, province or territory.


## PackageDetails (object)



+ `currency` (string, required) - Three-letter ISO Currency code
+ `orderedProduct` (string, required) - Identifies the DHL eCommerce product that is to be applied to the shipment. Refer to the product matrix for a list of all available and valid products.
[...]
